*{
    list-style: none;
    text-decoration: none;
    margin:0;
    padding:0;
}
table,tr,td,th{
    border: 1px solid;
}
tr:hover:nth-child(odd){
    background-color: rgb(102, 174, 198);
}
#myH{
    width: 100%;
}
[colspan="5"]:hover{
    background: rgb(120, 163, 120);
}

.lastPart{
    height: 300px;
    background-image: url(6.1.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;

}

.bGround{
    background-color: rgb(255, 10, 10);
    color: rgb(230, 231, 230);
    
}

.wrapper{
    display: flex;
    background-color: #f9f6ee;
    width: 100%;
}
.wrapper .menu-tab {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0%;
    background-color: rgb(98, 104, 105);
    overflow: hidden;
}
.wrapper .table{
    position: relative;
    margin-top: 60px;
    padding: 20px;
}
.wrapper .menu-tab ul{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.wrapper .menu-tab ul li{
    width: fit-content;
    padding: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 25%;
    background-color: #fe0707;
}
.wrapper2{
    display:ruby-base-container;
    background-color: aquamarine;
}
button {
    background-color: rgb(250, 6, 6);
    border: solid 1px rgb(255, 3, 3);
    border-radius: 3px;
    padding: 3px;
    
}
    button:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(255, 0, 0);
    cursor: crosshair;
}

  /*  button:active {background-color:rgb(254, 254, 254)
    
/*@media screen and (min-width: 800px) {
 img { max-width: 500px; max-height: 300px; }
 table { width: 800px; }
}*/

/* assignment 7 photo*/
/*.card{
    display:inline-block;
    background-color: none;

}*/

/*.icons{
    margin-top:30px;
    padding: 20px;
    size: 30px;
    color:green;

}*/
/*b{
    font-color:yellow;
}*/
